<div
  class="modal fade"
  id="exampleModal"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="login-container">
        
          <h1>Login</h1>
            <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <form action="/login" method="post">
          <div class="form">
            <label for="email">Usuário</label>
            <input type="text" name="email" placeholder="Digite seu e-mail" />
          </div>
          <div class="form">
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha"/>
          </div>
          <input type="submit" value="Entrar" />

            <a href="/" class="cadastro-a">Cadastre-se</a>
            <a href="/">Ainda não possui conta? Cadastre-se no site</a>
          <input type="submit" value="Cadastro" />
        </form>
      </div>
    </div>
  </div>
</div>