<div
  class="modal fade"
  id="exampleModal"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/" method="post">
          <h1>Login</h1>

          <div class="form">
            <label for="name">Usuário</label>
            <input type="text" name="name" />
          </div>
          <div class="form">
            <label for="password">Senha</label>
            <input type="password" name="password" />
          </div>
          <input type="submit" value="Entrar" />

          <div class="cadastro">
            <a href="/">Cadastre-se</a>
            <a href="/">Ainda não possui conta? Cadastre-se no site</a></div>
          <input type="submit" value="Cadastro" />
        </form>
      </div>
    </div>
  </div>
</div>