<nav class="navbar navbar-expand-lg navbar-bg">

  <div class="container">
    <a class="navbar-brand ms-3" href="#"><img
        src="/assets/img/cat.png"
        alt=""
        width="50px"
        height="50px"
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >

      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Login
          </button></li>
        <li class="nav-item">
            <button
            type="button"
            class="btn"
            data-bs-toggle="modal"
            data-bs-target="#Modal"
          >
            Registrar
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>