<nav class="navbar navbar-bg">
    <a class="navbar-brand ms-3" href="/"><img
        src="/assets/img/cat.png"
        alt=""
        width="73px"
        height="70px"
      /></a>
    <div>
        <a class="logout" href="/logout">Logout</a>
    </div>
</nav>