<div
  class="modal fade"
  id="Modal"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form action="/" method="post">
          <h1>Cadastre-se</h1>

          <div class="form">
            <label for="name">Usuário</label>
            <input type="text" name="name" />
          </div>

          <div class="form">
            <label for="email">Email</label>
            <input type="email" name="email" />
          </div>

          <div class="form">
            <label for="password">Senha</label>
            <input type="password" name="password" />
          </div>

          <div class="form">
            <label for="confirmPassword">Repita a senha</label>
            <input type="password" name="confirmPassword" />
          </div>

          <input type="submit" value="Cadastrar" />

         
      </div>
    </div>
  </div>
</div>