{{!-- <section class="postagens">
  <article class="linha1">
    <img src="/assets/img/cat01.jpg" alt="" width="400px" height="640px" />
    <img src="/assets/img/cat02.jpg" alt="" width="400px" height="640px" />
    <img src="/assets/img/cat05.jpg" alt="" width="400px" height="640px" />
  </article>

  <article class="linha2">
    <img src="/assets/img/cat11.jpg" alt="" width="600px" height="640px" />
    <img src="/assets/img/cat08.jpg" alt="" width="600px" height="640px" />
  </article>

  <article class="linha3">
    <img src="/assets/img/cat04.jpg" alt="" width="1200px" height="640px" />
  </article>

  <article class="linha4">
    <img src="/assets/img/cat12.jpg" alt="" width="400px" height="640px" />
    <img src="/assets/img/cat09.jpg" alt="" width="400px" height="640px" />
    <img src="/assets/img/cat06.jpg" alt="" width="400px" height="640px" />
  </article>

  <article class="linha5">
    <img src="/assets/img/cat03.jpg" alt="" width="601px" height="640px" />
    <img src="/assets/img/cat13.jpg" alt="" width="601x" height="640px" />
  </article>

  <article class="linha6">
    <img src="/assets/img/cat07.jpg" alt="" width="1200px" height="640px" />
  </article>
</section> --}}