form h1{
    font-size: 24px;
}

.login-container h1::before{
    content: "";
    padding: 4px;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #eb6440;
    display: inline-block;
}

.fade{
  z-index: 30;
  -webkit-backdrop-filter: blur(10px);
}

.login-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    backdrop-filter: blur(4px);
    display: block;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-body{
    margin: 60px 80px;
}

.form input {
    width: 280px;
    border-radius: 5px;
    border: none;
    background: #D9D9D9;
    padding: .5rem;
    outline: none;
}

input[type="submit"] {
    width: 120px;
    background: #eb6440;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: .5rem;
}

form a {
    text-decoration: none;
    color: #000;
}
