.navbar-bg{
    background: #eb6440;
}

.navbar-brand{
    rotate: 180deg;
}

.nav-item button{
    background: transparent;
    border: none;
    color: #000;
    font-weight: 800;
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}

.nav-item button:hover{
    color: #FFF;
}